# Entornos virtuales
venv/
env/

# Archivos de caché
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Archivos de entorno y configuración local
*.env
.env
.idea/
.vscode/

# Cobertura de pruebas
htmlcov/
.coverage
.tox/

# Archivos de sistema
.DS_Store
Thumbs.db
