.entidades-container {
  padding: 50px;
}

.hero-entidades {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.hero-texto {
  max-width: 50%;
}

.hero-texto h1 {
  font-size: 42px;
  font-weight: bold;
}

.hero-texto p {
  font-size: 18px;
  margin-top: 15px;
  color: #444;
}

.filtros {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.filtros select {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
}

.hero-img img {
  width: 350px;
  height: auto;
}

.lista-entidades {
  padding: 40px;
  text-align: center;
}

.titulo-lista {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

.grid-entidades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 10px;
}

.card-entidad {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  transition: 0.2s;
}

.card-entidad:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-ver {
  background: #0054D1;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-ver:hover {
  background: #003d99;
}
