.menu_filtros{
    display: flex;
    list-style-type: none;
    margin: 50px 0 20px 0;
    gap: 20px;
    justify-content: center;
}

.menu_filtros li{
    cursor: pointer;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tarjetas_filtro{
    margin-top: 50px;
}

.tarjeta_card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gif_filtro{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.volver{
    display: flex;
    justify-content: center;
    margin: 30px auto; 
}